.button-fav {
    background-color: transparent; 
    border-radius: 50px;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(106, 106, 106, .4); 
    transition: all .3s ease;
}

.lavel-fav {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-fav:hover{
    background-color: rgba(106, 106, 106, .8); 
}
.button-fav[disabled] {
    opacity: .3;
    pointer-events: none;
}
